// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    text-align: center;
    padding-bottom: 0.05rem;
    position: relative;

    .shopper-tagline {
        position: absolute;
        top: 55%;
        left: 15%;
        transform: translate(-50%, -50%);
        width: 15%;
        font-weight: 700;
        font-size: 1.5rem;
        color: #364547;
    }

    .header-image {
        margin-bottom: 1rem;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem;
    background-color: #1d2731;
    color: #d9b310;
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(172, 172, 172, 0.1), 0 5px 5px 0 rgba(192, 192, 192, 0.1);

    .nav-item-container {
        padding-right: 5rem;

        .nav-item {
            padding-left: 0.625rem;
            padding-right: 1.25rem;
        }
    }
    
    .shopper {
        font-size: 1.8rem;
        font-weight: bold;
        padding-left: 5rem;
        padding-bottom: 1.2rem;
    }
}

.item-list-wrapper {
    display: flex;
    flex-direction: row;

    .item-list {
        display: flex;
        flex-wrap: wrap;
        margin: 1.25rem;
    }
    
    .sidenav {
        position: relative;
        height: auto; 
        padding: 1rem;
        border: 1px solid #ddd;
        margin: 1.25rem;
        color: #364547;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.1);


        ul.sidenav-options {

            padding: 0rem;

            li {
                width: 15rem; 
                font-weight: 400;
                list-style-type: none;
                margin: 1rem;
                padding: 1rem;
                background-color: #fff7d5;
                text-align: center;
                border-radius: 1rem;
            }

            li:hover {
                background-color: #ffe883;
                cursor: pointer;
            }

            div.filter-options {
    
                p {
                    text-align: left;
                    border-radius: 1rem;
                    font-size: 0.9rem;
                    margin-left: 15%;
                    margin-right: 50%;
                    padding-left: 1rem;
                    width: auto;
                }

                p:hover {
                    background-color: #fcf3f6;
                    cursor: pointer;
                }
            }
        }

    }
}

.item-card {
    display: flex;
    flex-direction: column;
    border: 0.5px solid #efefef;
    width: 13rem;
    height: 15rem;
    margin: 1.25rem;
    padding-bottom: 0rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.item-image {
    width: auto;
    height: 50%;
}

.item-details {
    background-color: #fcf3f6;
    height: 50%;
    padding: 0.625rem;
    color: #364547;

    .item-detail {
        padding: 0.5rem;
    }

    #item-price {
        background-color: #fff7d5;
        border-radius: 1rem;
        border: 0.1rem solid #ffe883;
    }

    .item-description {
        height: 50%;
        overflow: scroll;
    }
}

.add-item {
    margin: 1.25rem;
    color:  #1d2731;
    font-size: 1rem;

    .add-item-title {
        text-align: center;
        font-weight: 400;
    }

    form {
        padding: 2rem;

       .item-input {

           input {
               width: 300px;
               height: 30px;
               margin-top: 1rem;
               margin-bottom: 0.5rem;
           }
       }

       .submit-item {
            margin-top: 1rem;
            font-weight: 400;
            font-size: 1rem;
            list-style-type: none;
            padding: 0.8rem;
            background-color: #fff7d5;
            text-align: center;
            border: none;
            border-radius: 1rem;
            color: #364547;
            font-family: 'Quicksand', sans-serif;
    }
    }

}

