// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: #d9b310;
    text-align: center;
    padding-bottom: 0.05rem;

    .header-image {
        margin-bottom: 1rem;

    }
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #1d2731;
    color: #d9b310;
    font-size: 1.3rem;
    text-align: center;

    .nav-item-container {
        padding-right: 5rem;

        .nav-item {
            padding-left: 10px;
            padding-right: 20px;
        }
    }
    
    .shopper {
        font-size: 1.8rem;
        font-weight: bold;
        padding-left: 5rem;
        padding-bottom: 1.2rem;
    }
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    width: 15rem;
    height: 15rem;
    margin: 20px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

.item-image {
    width: auto;
    flex-basis: 60%;
}

.item-details {
    background-color: #eefcff;
    flex-basis: 40%;
    padding: 10px;
}

